body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.nav {
    font-size:20px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.nav a {
    background-color: rgb(220, 211, 184);
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.adventure-item {
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    font-size: 2rem;  
    display: flex;
    flex-direction: row;
}

.adventure-item > img {
    display:block;
    margin-top: auto;
    margin-left: auto;
    height: 20px;
}

#newAdventure {
    display: none;
}

.add {
    width: fit-content;
    background-color:rgb(220, 211, 183);
}

.add-day {
    margin-left: auto;
    margin-right: auto;
}

.adv-item button {
    margin-left: auto;
}


.adv-contener {
    position: fixed;
    height:100vh;
    width: 30vw;
    left:70% ;
    top:0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adv-item, .adv-form{
    width: 90%;
    display: flex; 
    flex-direction: column;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    white-space: pre-wrap;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
}

.adv-item span {
    margin-bottom: 10px;
}

.adv-form {
    background-color: rgb(220, 211, 183);
}

.adv-form > * {
    margin-top: 10px;
}

input {
    margin-bottom: 5px;
    margin-top: 5px;
}

#map {
    height:100vh;
    width: 70vw;
    position: fixed;
    left:0 ;
    top:0;
}

.popup {
    display: none;
    position: absolute;
    width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
  }

.error {
    background-color: red;
}

button, .input-button, .adv-form > input[type='submit'] {
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 500;
    margin-left: auto;
}

button:hover, .input-button:hover, a:hover, .adventure-item:hover {
    box-shadow: 0 2px 10px rgba(32, 33, 36, 0.599);
    cursor: pointer;
}

