{% extends "adventure/layout.html"%}
{% load static %}

{% block script %}

<script src="{% static 'adventure/util.js' %}" type="module"></script>
<script src="{% static 'adventure/adventure.js' %}" type="module"></script>

{{ markers_data|json_script:"markers-data"}}

{% endblock %}



{% block popup %}
    <div class="popup">
        <form class="adv-form" id="edit-form" action="{% url 'edit day' %}" method="post">
            <div class="line">
                <h2>Edit Day </h2>
                <button type="button" id="edit-day-cancel" name="edit-day-cancel">Cancel</button>
            </div>    
            {% csrf_token%}
            {{ edit_day }}
            <input type="hidden" id="day_id" name="day_id" value=""></submit>
            <input type="hidden" name="adv_id" value="{{ id }}"></submit>
            <input class="input-button" type="submit" value="Save changes"></submit>
        </form>
    </div>
{% endblock %}



{% block body %}
    <div class="add-day">
        <button type="button" id="show-add-day-form">Add Day</button>
    </div>

    <form class="adv-form" id="add-day-form" action="{% url 'day' %}" method="post">
        <h2> New Day </h2>
        {% csrf_token%}
        {{ new_day }}
        <input type="hidden" name="adv_id" value="{{ id }}"></submit>
        <input class="input-button" id="submit-new-day" type="submit" value="Submit"></submit>
    </form>

    <form id="new-location-form" class="adv-form">
        {% csrf_token %}
        {{ new_location }}
        <input class="input-button" id="submit-new-location" type="submit" value="Submit"></submit>
    </form>

    {% for day, locations in days %}
        <div class="adv-item">
            <h3>{{ day.date|date:"Y-m-d" }}</h3>
            <span>{{ day.description }}</span>
            <button type="button" class="add" data-id="{{day.id}}" >Edit</button>
            <img class="show-more" src="{% static 'adventure/img/delete.svg' %}" alt="show location arrow">
        
        
            
            <div class="location-list">
                <button type="button" class="add-location" data-id="{{day.id}}" >Add Location</button>
                {% for location in locations %}
                    <div class="location-item location">
                        <strong>{{location.name}}</strong>
                        <img src="https://media.istockphoto.com/id/1198461597/pl/zdj%C4%99cie/dubrownik.jpg?s=612x612&w=0&k=20&c=jcN1KEbmZnkRLDJ71yhjqo8TmQ7B6GKmEw5nOWfCT9Q=" alt="No image yet">
                        <span>{{location.description}}</span>
                    </div>
                {% empty %}
                    <div class="location-list">
                        <span>No location yet.</span>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% empty %}
        <span> No days yet. </span>
    {% endfor %}

{% endblock %}


