{% extends "adventure/layout.html"%}
{% load static %}

{% block script %}

<script src="{% static 'adventure/util.js' %}" type="module"></script>
<script src="{% static 'adventure/adventure.js' %}" type="module"></script>

<!-- {{ id|json_script:"id-data"}} -->
{% endblock %}



{% block popup %}
    <div class="popup">
        <form class="adv-form" id="edit-form" action="{% url 'edit day' %}" method="post">
            <div class="line">
                <h2>Edit Day </h2>
                <button type="button" id="edit-day-cancel" name="edit-day-cancel">Cancel</button>
            </div>    
            {% csrf_token%}
            {{ edit_day }}
            <input type="hidden" id="day_id" name="day_id" value=""></submit>
            <input type="hidden" name="adv_id" value="{{ id }}"></submit>
            <input class="input-button" type="submit" value="Save changes"></submit>
        </form>
    </div>
{% endblock %}



{% block body %}
    <div class="add-day">
        <button type="button" id="show-add-day-form">Add Day</button>
    </div>

    <form class="adv-form" id="add-day-form" action="{% url 'day' %}" method="post">
        <h2> New Day </h2>
        {% csrf_token%}
        {{ new_day }}
        <input type="hidden" name="adv_id" value="{{ id }}"></submit>
        <input class="input-button" id="submit-new-day" type="submit" value="Submit"></submit>
    </form>

    {% for day in days %}
        <div class="adv-item">
            <h3>{{ day.date|date:"Y-m-d" }}</h3>
            <span>{{ day.description }}</span>
            <button type="button" class="add" data-id="{{day.id}}" >Edit</button>
        </div>
    {% empty %}
        <span> No days yet. </span>
    {% endfor %}

{% endblock %}


