{% extends "adventure/layout.html" %}
{% load static %}


{% block script %}
    <script src="{% static 'adventure/util.js' %}" type="module"></script>
    <script src="{% static 'adventure/index.js' %}" type="module"></script>
{% endblock %}


{% block map-script %}
    <script src="{% static 'adventure/map.js' %}" type="module"></script>
{% endblock %}


{% block popup %}
    <div class="popup" id="edit-adv-div">
        <form class="adv-form" id="edit-adv-form" action="{% url 'create adventure' %}" method="post">
            <div class="line">
                <h2>Edit Adventure </h2>
                <button type="button" id="edit-adv-cancel" name="edit-adv-cancel" class="cancel">Cancel</button>
            </div>    
            {% csrf_token %}
            {{ edit_adv_form }}
            <input class="input-button save" id="edit-adv-save" type="button" value="Save changes"></submit>
        </form>
    </div>
{% endblock %}



{% block body %}
    <h1 class="title">Adventure Chronicles</h1>

    {% if user.is_authenticated %}

        {% for adv in adventures %}
            <div data-id='{{adv.id}}' class="adventure-item">
                <span>{{adv.title}}</span>
                <img class="edit-icon" src="{% static 'adventure/img/edit-icon.png' %}" alt="icon for editing adventure">
                <img src="{% static 'adventure/img/delete.svg' %}" alt="icon for deleting adventure">
            </div>
        {% empty %}
            <h2>No adventure yet</h2>
        {% endfor %}
    
    <div> 
        <button class="add" id="newAdventureButton">New Adventure</button>
    </div>
    
    <div id="newAdventure" style="display: none;">
        <form class="adv-form" id="adventure-form" action="{% url 'create adventure' %}" method="post">
            {% csrf_token %}
            {{ new_adv_form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% else %}
        <div>
            <span>To create your own adventures please</span>
            <a href="{% url 'register' %}">Register</a>
        </div>
    {% endif %}
    
{% endblock %}

