{% extends "adventure/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'adventure/util.js' %}" type="module"></script>
    <script src="{% static 'adventure/index.js' %}" type="module"></script>
{% endblock %}

{% block body %}

    <h1 class="title">Adventure Chronicles</h1>

    {% if user.is_authenticated %}

        {% for adv in adventures %}
            <div data-id='{{adv.id}}' class="adventure-item">
                <div>
                    <span>{{adv.title}}</span>
                </div>
                <img src="{% static 'adventure/img/delete.svg' %}" alt="trash icon for delete adventure">
            </div>
        {% empty %}
            <h2>No adventure yet</h2>
        {% endfor %}
    
    <div> 
        <button class="add" id="newAdventureButton">New Adventure</button>
    </div>
    
    <div id="newAdventure" style="display: none;">
        <form class="adv-form" action="{% url 'create adventure' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
    </div>
    {% else %}
        <div>
            <span>To create your own adventures please</span>
            <a href="{% url 'register' %}">Register</a>
        </div>
    {% endif %}
    
{% endblock %}

