{% extends "adventure/layout.html" %}
{% load static %}
{% block body %}
<h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="adv-form" action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <div style="text-align: center;">
        Don't have an account? 
        <br>
        <a href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}

{% block map-script %}
    <script src="{% static 'adventure/map.js' %}" type="module"></script>
{% endblock %}