{% extends "adventure/layout.html" %}

{% block body %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    
    <form class="adv-form" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input autofocus type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirmation" placeholder="Confirm Password">
        <input type="submit" value="Register">
    </form>

    <div>
        Already have an account? 
        <a href="{% url 'login' %}">Log In here.</a>
    </div>

{% endblock %}